<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Notification method</th>
        <th>Send due date reminder</th>
        <th>Due date reminder interval</th>
        <th>Due date reminder time</th>
        <th>Time zone</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.name %></td>
          <td><%= user.phone %></td>
          <td><%= user.notification_method %></td>
          <td><%= user.send_due_date_reminder %></td>
          <td><%= (user.due_date_reminder_interval == 0)? 'on due date' : user.due_date_reminder_interval.to_s + ' day before the due date' %></td>
          <td><%= user.due_date_reminder_time.to_fs(:time) %></td>
          <td><%= user.time_zone %></td>           
          <td><%= link_to 'Show', user %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<%= link_to "New user", new_user_path %>
